@import 'vars.styl'
body
    font-family 'open_sansregular'
    overflow hidden
.wrapper
    display flex
.picture
    width calc(100vw - 477px)
    height 100vh
    position relative
    background-image url(../img/depositphotos.png)
    background-repeat no-repeat
    background-size cover
    background-position left top
    &:after
        content ' '
        position absolute
        right 0
        top 0
        width 35%
        height 100%
    &__content
        display none
        width 100%
        height 100%
        position absolute
        left 0
        top 0
        background-color rgba(252, 137, 80, 0.7)
        z-index 1
    &__wrap
        position absolute
        top 35%
        left 50%
        transform translate(-50%, -50%)
    &__text
        color #fff
        font-family "open_sansbold"
        font-size 17.7vw
        text-transform uppercase
    &__description
        color #fff
        font-family "open_sansbold"
        font-size 2.1vw
        text-transform uppercase
    &_pink
        &:after
            background linear-gradient(90deg, rgba(2,0,36,0) 0%, rgba(58,4,31,0.7) 100%);
    &_orange
        &:after
            background linear-gradient(90deg, rgba(2,0,36,0) 0%, rgba(88, 28, 28,0.7) 100%)
    &_blue
        &:after
            background linear-gradient(90deg, rgba(2,0,36,0) 0%, rgba(23, 130, 149, 0.57) 100%)
.nav
    width 100%
    min-height 56px
    height auto
    background rgba(255,255,255,0.74)
    display flex
    align-items center
    box-sizing border-box
    position absolute
    bottom 0
    left 0
    z-index 2
    &__links
        width 100%
        display flex
        justify-content space-between
        align-items center
        flex-wrap wrap
        padding 7px 6.3vw
    &__link
        display block
        color #3b3b3b
        font-family "open_sansbold"
        font-size 12px
        text-transform uppercase
        letter-spacing 0.19px
        text-decoration none
        padding 8px
.content
    width 477px
    height 100vh
    box-sizing border-box
    border-left 13px solid
    position relative
    display flex
    flex-direction column
    justify-content flex-end
    transition background .5s
    &__circle
        position absolute
        left -40px
        top 311px
        width 80px
        height 80px
        border 9px solid
        border-radius 50%
        box-sizing border-box
        background-color #ffffff
        z-index 2
    &_pink
        background pnk
        border-color pnk
        .content__title
            color pnk
        .content__circle
            border-color pnk
    &_orange
        width 850px
        background orng
        border-color orng
        .content__title
            color orng
        .content__circle
            border-color orng
        .content__btn
            display none
            background-color orng
            font-size 26px
            margin-left 33px
    &_blue
        width 850px
        background bl
        border-color bl
        .content__title
            color bl
        .content__circle
            border-color bl
        .content__btn
            display none
            background-color bl
            font-size 26px      
    &__wrap
        background lGrey
        width 100%
        min-height 80vh        
        padding 9vh 54px 0 2vh
        box-sizing border-box
        &_second
        &_third
            display none
    &__title
        font-family "open_sansbold"
        font-size 31px
        line-height 40px
        text-transform uppercase
        letter-spacing 0.24px
        margin-bottom 30px
        position relative
        &:before
            content none
            position absolute
            left -40px
            top 0
            width 80px
            height 80px
            border 9px solid
            border-radius 50%
            box-sizing border-box
            background-color #ffffff
            z-index 2
    &__text
        color dGrey
        font-family "open_sanssemibold"
        font-size 24px
        line-height 30px
        text-transform uppercase
        letter-spacing 0.38px
        &_big
            margin 15vh 0 27px
            font-family "open_sansbold"
            font-size 34px
            text-transform uppercase
            letter-spacing 0.24px
    &__btn
        border-radius 20px
        display inline-block
        background-color pnk
        border none
        color #fff
        font-family "open_sansbold"
        font-size 38px
        text-transform uppercase
        letter-spacing 0.36px
        padding 23px 55px
        outline none
        &:hover
            cursor pointer
    &__checkboxes
        margin-top 18px
        width 35.6vh
    &__checkbox
        min-width 384px
        min-height 80px
        border-radius 10px
        border 1px solid rgb(211, 211, 211)
        background-color rgb(255, 255, 255)
        color dGrey
        font-family "open_sanssemibold"
        font-size 26px
        display flex
        align-items center
        justify-content center
        margin-bottom 17px
        &:hover
            cursor pointer
        &.active
            background-color orng
            color #fff
.form
    width 456px
    margin-bottom 2vh
    &__checkboxes
        display flex
        justify-content space-between
        margin-top 3px
    &__checkbox
        width calc(50% - 8px)
        height 7.3vh
        border-radius 10px
        border 1px solid #d3d3d3
        background-color #ffffff
        display flex
        align-items center
        justify-content center
        svg
            width 30px
            height 30px
        &:hover
            cursor pointer
        &.active
            background-color bl
            color #fff
            svg
                fill #fff
    &__item
        width 100%
        font-family "open_sanssemibold"
        font-size 18px
        letter-spacing 0.05px
        margin-bottom 15px
        input
            width 100%
            height 7.3vh
            border-radius 10px
            border 1px solid #d3d3d3
            background-color #ffffff
            outline none
            box-sizing border-box
            margin-top 3px
            font-size 18px
            font-family 'open_sansregular'
            padding 0 19px
            &.error                
                border 1px solid #ff0000
                &::placeholder
                    color #b72020
.checkbox {
	position: absolute;
	z-index: -1;
	opacity: 0;
	margin: 10px 0 0 20px;
}
.checkbox + label {
	position: relative;
	padding: 0 0 0 23px;
    color #000000
    font-family 'Museo Sans Cyrl 300'
    font-size 13px
	cursor: pointer;
}
.checkbox + label:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 13px;
	height: 13px;
	border-radius: 2px;
	background: lGrey;
    border 1px solid #000
}
.checkbox + label:after {
	content: '';
	position: absolute;
	top: -2px;
	left: 2px;
	width: 9px;
	height: 9px;
}
.checkbox:checked + label:before {
	background-image url(../img/check.svg);
}

@media (max-height:900px)   
    .picture
        width calc(100vw - 78.7vh)
        &.picture_pink
            width calc(100vw - 44vh)
    .content
        &_pink
            width 44vh
        &_orange 
            width 78.7vh
            .content__btn
                font-size 2.4vh
                margin-left 3.1vh
        &_blue
            width 78.7vh
            .content__btn
                font-size 2.4vh
                margin-left 0
                padding 2.6vh 5.1vh
        &__wrap
            background lGrey
            width 100%
            min-height 80vh        
            padding 9vh 54px 0 2vh
        &__title
            font-size 2.8vh
            line-height 1.2
        &__text
            font-size 2.2vh//24px
            line-height 1.2
            &_big
                margin 15vh 0 27px
                font-size 3.1vh//34px
        &__btn
            font-size 3.5vh//38px
            padding 2.1vh 5.1vh//23px 55px
            border-radius 0.9vh
        &__checkbox
            min-width 35.6vh
            min-height 7.4vh
            border-radius 0.9vh
            font-size 2.4vh
    .form
        width 42vh//456px
        &__item
            font-size 1.6vh//18px
            input
                font-size 1.6vh